<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/blogheader.ejs') %>
    
<body>
    <div class="content">
        <h3 class="center-headings">About these blogs</h3>

    <%- include('./partials/blognav.ejs') %>
    </div>

    <%- include('./partials/blogfooter.ejs') %>
    
</body>
</html>